<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Update page</title>
</head>

<body>
    <div id="page1">
        <div class="container">
            <h3>Update</h3>
            <form method="post" action="/edit">
                <input type="email" placeholder="Enter email" name="email">
                <input type="password" placeholder="Enter password" name="password">
                <input type="password" placeholder="confirm password" name="cpassword">
                <input id="btn" type="submit" value="Create">
                <button>Sign In ?</button>
            </form>
        </div>
    </div>
</body>

</html>